@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-container {
	padding: 40px 30px 30px 30px;
	border-radius: 15px;
	width: 100%;
	max-width: 400px;
	text-align: center;
	background-color: #ecf0f3;
	border-radius: 15px;
	box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.vh-100 {
	height: 100vh;
}

.login-container .logo {
	width: 80px;
	margin-bottom: 20px;
}

.login-form h2 {
	margin-bottom: 20px;
	text-align: center;
}

.input-group {
	position: relative;
	margin-bottom: 20px;
}

.input-group i {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #777;
}

.input-group input {
	width: 100%;
	padding: 10px 40px 10px 40px;
	/* Adjusted padding to include icon space */
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
}

#togglePassword {
	margin-left: 85%;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	color: #777;
}

.form-options {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.forgot-password {
	color: black;
	text-decoration: none;
	font-size: 14px;
}

.forgot-password:hover {
	color: wheat;
	text-decoration: underline;
}

.btn-login {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #007bff;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}

.btn-login:hover {
	background-color: #0056b3;
}

.btn-home {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #28a745;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	margin-top: 10px;
}

.btn-home:hover {
	background-color: #218838;
}

@media ( max-width : 480px) {
	.login-container {
		padding: 20px;
	}
	.input-group input {
		padding: 10px 30px 10px 30px; /* Adjust padding for smaller screens */
		font-size: 14px;
	}
	.btn-login, .btn-home {
		padding: 8px;
		font-size: 14px;
	}
}